<div class="block-container">
  <h3>Block</h3>
  <br/>
  <mat-form-field appearance="legacy">
    <input matInput placeholder="Block" readonly value="#1">
  </mat-form-field>

  <mat-form-field appearance="legacy">
    <input matInput placeholder="Nonce" value="{{nonce}}" readonly>
  </mat-form-field>

  <mat-form-field appearance="legacy">
    <textarea matInput placeholder="Data" [(ngModel)]="userData" (keyup)="userDataChange()"  rows="10"></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <input matInput placeholder="Hash" value="{{hash}}" readonly>
    <mat-icon matSuffix>{{sentiment}}</mat-icon>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="onMine()">Mine</button>
</div>