.block-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .block-container-button {
    align-content: center;
  }
  
  .block-container > * {
    width: 100%;
  }

  .block-container input{
    width: 100%;
  }