.blockchain-container {
    display: flex;
    flex-direction: column;
    background-color: #ddf0d7;
    padding: 15px 15px 50px 15px;
    border-radius: 5px;
    background-color: #ddf0d7;
    border: 1px solid #dae1d8 !important;
 }

  .blockchain-container-button {
    align-content: center;
  }
  
  .blockchain-container > * {
    width: 100%;
  }

  .blockchain-container input{
    width: 100%;
  }

  .blockchain-container-error {
    background-color: #f5d6db;
  }

  .container-button-loader {
    background: #f0f0f0 url('../../../assets/loading.gif') center center no-repeat;
	  position: absolute;
	  z-index:20;
	  left:60px;
	  top:3px;
	  bottom:0;
	  right:0;
    opacity: 0.8;
    width: 30px;
    height: 30px;
    background-color: transparent;
	  display: block;
  }

  
