<div [ngClass]="{'border-primary': true, 'blockchain-container': true, 'blockchain-container-error': !mined}" name="simpleblock">
  <mat-icon [style.color]="mined ? '': 'red'" matSuffix>{{sentiment}}</mat-icon>
  <div class="form-group">
    <label>Block,#</label>
    <input type="text" class="form-control" value="{{block.index}}" readonly>
  </div>

  <div class="form-group">
    <label>Nonce</label>
    <input type="text" class="form-control" placeholder="Nonce" [(ngModel)]="block.Nonce" (keyup)="onNonceKey($event)">
  </div>

  <div class="form-group" *ngIf="mode !== 4">
    <label>Data</label>
    <textarea class="form-control" placeholder="Data" [(ngModel)]="block.Data" rows="10" (keyup)="onDataKey($event)"></textarea>
  </div>

  <div *ngIf="mode === 4">
    <label>Data</label>
    <app-simple-block-data-table [blockTransactions]='block.Data'></app-simple-block-data-table>
  </div>

  <div class="form-group" *ngIf="isPreviouseHash">
    <label>Previous Hash</label>
    <input type="text" class="form-control" placeholder="Previous Hash" [value]="block.PreviouseHash" readonly>
  </div>

  <div class="form-group">
    <label>Hash</label>
    <input type="text" class="form-control" placeholder="Hash" [(ngModel)]="block.Hash" readonly [style.color]="mined ? '': 'red'">
   </div>
</div>

<div class="block-container-button">
  <button mat-raised-button color="primary" (click)="onMineClicked()">Mine
  </button>
</div>