.blockchain-container {
    display: flex;
    flex-direction: column;
    background-color: #ddf0d7;
 }

  .blockchain-container-button {
    align-content: center;
  }
  
  .blockchain-container > * {
    width: 100%;
  }

  .blockchain-container input{
    width: 100%;
  }

  .blockchain-container-error {
    background-color: #f5d6db;
  }