/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

body {
    padding-top: 5rem;
  }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }


.blockchain-container-wrapper
{
    white-space: nowrap;
	width: 100%;
	overflow: auto;
	padding: 0 2%;
}

h2, h3 {
	padding: 0 2%;
}

.block-container-content
{
    margin: 0 20px 20px 0;
    display: inline-block; 
	padding: 5px;
	border-radius: 5px;
	background-color: #ddf0d7;
    border: 1px solid #dae1d8; 
    width: 100%;
}
.blockchain-container-content
{
    margin: 0 20px 20px 0;
    display: inline-block; 
	padding: 5px;
	border-radius: 5px;
	background-color: #ddf0d7;
    border: 1px solid #dae1d8;
    width: 45%;
}
.block-container-content-error
{
    background-color: #f5d6db;
}
.blockchain-container-content-error
{
    background-color: #f5d6db;
}

